<%= stylesheet_link_tag "global.css" %>

<h1>Editing feat_assignment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@character, @feat_assignment] %> |
<%= link_to 'Back', character_feat_assignments_path(@character) %>
