/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/
.aboutbody {
  font-family: "Times New Roman";
  font-size: 20px;
  text-align: left;
  padding-right: 200px;
  padding-left: 200px; }
/*Links: */
a:link {
  color: #FFFFFF; }

a:visited {
  color: #FF8C00; }

a:hover {
  color: #FF0000; }

a:active {
  color: #00FF00; }

#cornerImage {
  background-image: url("/assets/dungeonHelperSmall.png");
  background-repeat: no-repeat;
  background-position: right top; }

h1 {
  font-family: "Times New Roman";
  font-size: 26px;
  text-align: center;
  color: #FFFFFF; }

/*Colors: */
/*Dark Burgundy: BF344d */
/*Colors: */
/*Colors: */
/*Colors: background-color:#BF344d; */
body {
  color: #FFFFFF;
  text-align: center;
  background-image: url("/assets/StoneBrickWallTexture.jpg");
  font-size: 18px; }
  body #emptyTable {
    border: 0px;
    padding: 15px;
    align: right;
    background-color: trasnparent;
    color: #FFFFFF; }
  body table, body th, body td {
    align: center;
    border: 3px solid black;
    padding: 15px;
    background-color: #EEEEEE;
    color: #000000; }
    body table a:link, body th a:link, body td a:link {
      color: #FF8C00; }
    body table a:visited, body th a:visited, body td a:visited {
      color: #FF8C00; }
    body table a:hover, body th a:hover, body td a:hover {
      color: #FF0000; }
    body table a:active, body th a:active, body td a:active {
      color: #00FF00; }
  body a:link {
    color: #FF8C00; }
  body a:visited {
    color: #FF8C00; }
  body a:hover {
    color: #FF0000; }
  body a:active {
    color: #00FF00; }

/*Form*/
form {
  color: #000000;
  text-align: center; }

/*Notice*/
#notice {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 24px;
  color: #FF0202;
  text-align: center; }

p {
  color: #FFFFFF;
  font-size: 12px; }

#alert {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 24px;
  color: #FF0202;
  text-align: center; }
<style type="text/css">
			body{background-color:#d0e4fe;}
 </style> 
/*Links: */

h1{
font-family:"Times New Roman";
font-size:26px;
text-align:center;
color: #000000;


}

/*Colors: */
/*Dark Burgundy: BF344d */
/*Colors: */
/*Colors: */
/*Colors: background-color:#BF344d; */

body{
color: #000000;
text-align:center;
}
}

/*Form*/
form{
color: #000000;
text-align:center;
}


p{
color: #000000;
font-size:12px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
