<%= stylesheet_link_tag "global.css" %>

<h1>Editing attribute_list</h1>

<%= render 'form' %>

<%= link_to 'Show', @attribute_list %> |
<%= link_to 'Back', character_attribute_lists_path(@character) %>
